<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Markout.Input" version="1.0.2.0" targetFramework="net40" />
  <package id="Markout.Output.Inlines" version="1.0.0.0" targetFramework="net40" />
  <package id="Markout.Output.Inlines.Controls" version="1.0.0.0" targetFramework="net40" />
</packages>